<h2>Course List H2</h2>

<div class="form-group row">

    <label class="col-sm-2 col-form-label">Filter By:</label>

    <div class="col-sm-10">
        <input class="form-control">
    </div>

</div>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td><img [src]="course.imageUrl" width="40px" height="40px"></td>
            <td>{{course.name}}</td>
            <td>{{course.price}}</td>
            <td>{{course.code}}</td>
            <td>{{course.relaseDate}}</td>
            <td>
                <app-star [rating]="course.rating"></app-star>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<h2>Course List H2</h2>

<div class="row">
  <div class="col-md-3" *ngFor="let course of courses">
    <div class="card">
      <img [src]="course.imageUrl" class="card-img-top" alt="Course Image">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <app-star [rating]="course.rating"></app-star>
        
        <p class="card-text">{{course.description}}</p>
        
        <div class="card-footer">
          <!-- Opções do card -->
        </div>
      </div>
    </div>
  </div>
</div>
