body{
    background-color: blueviolet;
}
.quadrado{
    height: 120px;
    width: 120px;
    border: 1px solid #ccc;
}
.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    
  }
  #pond {
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }
